﻿@{
    //    
    //  Asp.Net 编译器 Controller生成模板  
    //  Version 1.0.0.0  
}
@* model Evm.Schema.Service;*@
//
//  @(Model.Name) 控制器代码
//  由 Evm Aspx编译器生成于@(DateTime.Now)。
//  警告：请不要修改本文件，以防重新生成时被覆盖
//

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using Evm.Rtl;
using Evm.Rtl.Web;
using System.Web.UI;
using @(Model.App.Namespace).Model;
using @(Model.App.Namespace).Service;

namespace @(Model.App.Namespace).UI@(Model.DerivedEntity == null ? "" : "." + Model.DerivedEntityName)
{
     public partial class @(Model.Name)Controller : Page
     {
        //Page_Load 方法，调度
        protected void Page_Load(object sender,EventArgs e)
        {
            try
            {
                switch(Request["method"])
                {
                    @foreach (var m in Model.Methods)
                    {  if (m.Contract != Evm.Schema.Contract.Normal && m.Contract != Evm.Schema.Contract.Json)  { continue; }
                    <text>
                    case "@(m.ID)":
                        @(m.ID)();
                        break;
                    </text>
                    }
                }
            }
             catch (EvmRtException err)
             {
                 JsonUtil.WriteJson(err);
             }
             catch (Exception err)
             {
                 JsonUtil.WriteJson(err.Message);
             }
             finally
             {
                 Response.End();
             }
        }

        @foreach (var m in Model.Methods)
        {
            if (m.Contract != Evm.Schema.Contract.Normal && m.Contract != Evm.Schema.Contract.Json)   { continue; }
            var getObjBuilder = new System.Text.StringBuilder();
        <text>
        private void @(m.ID)()
        {
            @GetParameters(m,getObjBuilder)

            @if (!string.IsNullOrEmpty(m.ResultClass))
            {
                <text>JsonUtil.WriteJson(@GetInvoke(m));</text>
            }
            else
            {
                <text> @GetInvoke(m) ;
                JsonUtil.WriteSuccessReponse();
                </text>
            }
        }
        @getObjBuilder.ToString()
        </text>
        }
     }
}

@helper GetParameters(Evm.Schema.Method m,System.Text.StringBuilder builder)
    {
        if (!m.HasParameter) { return; }
        foreach (var kv in Evm.Utils.MiscUtil.GetParameters(m.Parameters))
        {
            var code = "";

            bool isPrimitive = false;
            if (kv.Value == "pageSize" || kv.Value == "pageIndex")
            {
                var vname = kv.Value == "pageIndex" ? "page" : "rows";
                code = string.Format("{0} = string.IsNullOrEmpty(Request[\"{1}\"]) ? {2} : Convert.ToInt32(Request[\"{1}\"]) "
                    , kv.Value, vname, kv.Value == "pageIndex" ? 1 : 20);
                isPrimitive = true;
            }
            else
            {
                code = (GetValueFromRequest(kv.Key, kv.Value, out isPrimitive));
            }
            if (isPrimitive)
            { 
            <text>
               var @code ;
            </text>
            }
            //枚举类型
            else if (IsEnum(kv.Key))
            {
            <text>
            if(!string.IsNullOrEmpty(Request["@(kv.Value)"]))
                @kv.Value = (@(kv.Key)) Convert.ToInt32(Request["@(kv.Value)"]);
            </text>
            }
            else
            {
                var entity = GetEntity(kv.Key);
                //Evm 应用实体
                if (entity != null)
                {
                    if (m.ID == "Save")
                    {
                        <text>
                        var @kv.Value = @(Model.App.Name)App.Instance.Get@(Model.Name)().GetByID(int.Parse(Request["id"])) ;
                        </text>
                    }
                    else
                    { 
                    <text>
                    var @kv.Value = new Model.@(kv.Key)();
                    </text>
                    }
                    builder.AppendLine(GetObject(entity).ToString());
                    <text>
                    Get@(entity.Name)(@kv.Value);
                    </text>
                }//if
                else
                { 
                 <text>//TODO:未知类型：@(kv.Key) @(kv.Value)
                 @(kv.Key) @(kv.Value) = null;
                 </text>
                }
            }

        }
}

@helper GetObject(Evm.Schema.Entity entity)
    {
    if (generatedObject.Contains(entity.Name))    { return; }
    <text>

    #region Get Object
    
    private void Get@(entity.Name)(Model.@entity.Name obj)
    {
        obj = obj == null ? new Model.@(entity.Name)() : obj;
    @foreach (var property in entity.Properties)
    {
        if (!property.NoMap && !property.IsAutoGenerated)
        {//TODO：上传文件支持
            bool b;
            var code = "";
            code = GetValueFromRequest(property.DataType, property.Name, out b);
            if (b)
            { 
                    <text>
                    if(!string.IsNullOrEmpty(Request["@(property.Name)"]))
                       obj.@(code);
                    </text>
            }
            else if (IsEnum(property.DataType))
            {
                             <text>
                    if(!string.IsNullOrEmpty(Request["@(property.Name)"]))
                       obj.@(property.Name) = (@property.DataType)Convert.ToInt32(Request["@(property.Name)"]);
                             </text>
            }
            else
            { 
                             <text>//TODO:未知类型：@(property.DataType) @(property.Name) </text>
            }
        }// endif
     }

    }
    #end region
    </text>
        generatedObject.Add(entity.Name);
}

@functions
{
    IList<string> generatedObject = new List<string>();
    public string GetValueFromRequest(string type, string varName, out bool isPrimitive)
    {
        isPrimitive = true;
        switch (type)
        {
            case "bool":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Boolean");
            case "byte":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Byte");
            case "char":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Char");
            case "DateTime":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "DateTime");
            case "decimal":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Decimal");
            case "double":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Double");
            case "short":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Int16");
            case "int":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Int32");
            case "long":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Int64");
            case "sbyte":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "SByte");
            case "float":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "Single");
            case "ushort":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "UInt16");
            case "uint":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "UInt32");
            case "ulong":
                return string.Format("{0} = Convert.To{1}(Request[\"{0}\"])", varName, "UInt64");
            case "string":
                return string.Format("{0} = Request[\"{0}\"]", varName);
            default:
                isPrimitive = false;
                return "";
        }//switch
    }
    //检查是否是枚举类型
    public bool IsEnum(string entityName)
    {
        var entity = GetEntity(entityName);
        return entity != null ? entity.IsEnum : false;

    }
    public Evm.Schema.Entity GetEntity(string entityName)
    {

        foreach (var entity in Model.App.Entities)
        {
            if (entity.Name == entityName)
                return entity;
        }
        return null;
    }
    //
    public string GetInvoke(Evm.Schema.Method m)
    {
        var invoke = m.Service.App.Name + "App.Instance.Get" + m.Service.Name + "()." + m.ID;
        var builder = new System.Text.StringBuilder();
        builder.Append(invoke);
        builder.Append("(");
        if (m.HasParameter)
        {
            var paras = Evm.Utils.MiscUtil.GetParameters(m.Parameters);
            for (var i = 0; i < paras.Count; i++)
            {
                if (i != 0)
                    builder.Append(",");
                builder.Append(paras[i].Value);
            }
        }
        builder.Append(")");
        return builder.ToString();
    }
}