﻿======================================
               Read me 
======================================

使用Evm Aspx编译器生成代码的注意事项：
1、如果对生成的代码做过改动，则不应该再次用Aspx编译器生成；否则修改过的代码会被覆盖；
2、编译器不生成默认的布局、导航结构，根据需要手工调整
3、编译器只为声明继承实体类的服务生成相应的页面；且以实体类的名字作为目录/命名空间的名称；
4、编译器默认生成"[服务名]Controller.aspx"的页面，用于所有后台代码的处理；同时会生成"[实体名]List.aspx"和"[实体名]Editor.aspx"作为列表和编辑页面。
5、此编译器的客户端代码采用jQuery EasyUI(www.jeasyui.com)作为客户端界面库
6、请在web.config中的<page /><controls>下添加如下代码注册控件 <add tagName="Style" tagPrefix="am" src="~/Style/Style.ascx"  />
7、生成的控制器方法([服务名]Controller.aspx)中未声明返回值的类型，在函数末尾均会自动添加JsonUtil.WriteSuccessReponse();通知界面端执行结果。