﻿@*************************************************************************

    App 模板
    Version:1.0		
 
*************************************************************************@

@* model Evm.Schema.App   *@

using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using Evm.Rtl;
using IBatisNet.DataMapper;
using @(Model.Namespace).Service;
using @(Model.Namespace).Service.Impl;
using @(Model.Namespace).Dao;
using @(Model.Namespace).Dao.Impl;
namespace @(Model.Namespace).Service
{
    
    ///<summary>
    ///应用程序定义
    ///</summary>
	public  class @(Model.Name)App : AppBase
	{
        public override  SqlMapper MyMapper
		{
			get
			{
				return Evm.Rtl.MyMapper.Instance("@(Model.Name)");
			}
		}

        private static @(Model.Name)App instance;
        ///<summary>
        /// 获取应用实例
        ///</summary>
        public static @(Model.Name)App Instance
        {
            get
            {
                if(instance==null)
                {
                    lock(typeof(@(Model.Name)App))
                    {
                        if(instance == null)
                        {
                            instance = new @(Model.Name)App();
                        }
                    }
                }
                return instance ;
            }
        }

         /// <summary>
        /// 应用名称
        /// </summary>
        public override  string Name
        {
            get{ return "@(Model.Name)" ; }
        }

        /// <summary>
        /// 应用作者
        /// </summary>
        public override string Author
        {
            get { return "@(Model.Author)" ;  }
        }

        /// <summary>
        /// 应用说明
        /// </summary>
        public override string Description 
        { get { return "@(Model.Description)" ;} }

        private Version version;
        /// <summary>
        /// 应用版本
        /// </summary>
        public override Version Version 
        { 
           get
           {
            if(version == null)
                version = new Version("@(Model.VersionString)");
            return version;
           }
        }
        private AppServices m_services = new AppServices();
        public AppServices Services{get{return m_services;}}

        private AppDaos m_daos = new AppDaos();

        public AppDaos Daos{ get{return m_daos;} }
    }

    public class AppServices
    {
    internal AppServices(){}
        protected IDictionary<int,ServiceBase> m_ResolvedServices = new Dictionary<int,ServiceBase>();
        
        @foreach (var svc in Model.Services)
        {
            if (svc.ServiceContract != Evm.Schema.ServiceContract.Public)
            {  continue;}
            
           <text>
           ///<summary>
           /// 获取I@(svc.Name) 实现
           ///</summary>
           public  I@(svc.Name) Get@(svc.Name)()
           {
           var key = "@(svc.Name)".GetHashCode();
           if (!m_ResolvedServices.ContainsKey(key))
           {
           m_ResolvedServices.Add(key,new @(svc.Name)());
           }
           
            return (I@(svc.Name))m_ResolvedServices[key];
           }
           </text>
        }
    }

    public class AppDaos
    {
        internal AppDaos(){}
     protected IDictionary<int,DaoBase> m_ResolvedDaos = new Dictionary<int,DaoBase>();
        @foreach (var dao in Model.Entities)
        {
            if (dao.IsEnum)
                continue;
            <text>
           ///<summary>
           /// 获取I@(dao.Name) 实现
           ///</summary>
           public  I@(dao.Name)Dao Get@(dao.Name)Dao()
           {
           var key = "@(dao.Name)".GetHashCode();
           if (!m_ResolvedDaos.ContainsKey(key))
           {
           m_ResolvedDaos.Add(key,new @(dao.Name)Dao());
           }
           
            return (I@(dao.Name)Dao)m_ResolvedDaos[key];
           }
           </text>
        }   
    }
}