﻿@*************************************************************************

    Enum 模板
    Version:1.0		
 
*************************************************************************@

@* model Evm.Schema.Entity    *@

using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using Evm.Rtl;

namespace @(Model.App.Namespace).Model
{
    ///<summary>
    ///@Model.Text
    ///</summary>
	public enum @(Model.Name)
	{
       @for (var i = 0 ;i < Model.Properties.Count; i ++)
       {
           var p = Model.Properties[i];
        @<text>
        ///<summary>
        /// @(p.Text)
        ///</summary>
        @(p.Name) = @(p.Default)
        </text>
           
        if (i != Model.Properties.Count - 1)
        { 
            @(",")
        }
       }

   }

  
   public static class @(Model.Name)Converter
   {
        //获取友好的字符串
        public static string ToString(@(Model.Name) value)
        {
            switch(value)
            {
            @foreach (var p in Model.Properties)
            {
                <text>
                case @(Model.Name).@(p.Name):
                    return "@(string.IsNullOrEmpty(p.Text)?p.Name:p.Text)";
                </text>
            }
                default:
                    return "N/A";
            }
        }

        public static @(Model.Name) Get@(Model.Name)(string value)
        {
            return (@(Model.Name))Enum.Parse(typeof(@(Model.Name)),value);
        }
        public static @(Model.Name) Get@(Model.Name)(int value)
        {
            return (@(Model.Name))value;
        }
   }
}
  