﻿@*************************************************************************

    Model 模板
    Version:1.0		
 
*************************************************************************@

@* model Evm.Schema.Entity    *@

using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using System.Reflection;
using System.Text;
using Newtonsoft.Json;
using Evm.Rtl;

namespace @(Model.App.Namespace).Model
{
    ///<summary>
    ///@Model.Text
    ///</summary>
	public class @Model.Name :EntityBase
	{
        @foreach (var p in Model.Properties)
        {

            if (string.IsNullOrEmpty(p.Select))
            {
                //原生属性
                Write( BuildProperty(p));
            }
            else
            {
                //Lazy load属性
               Write( BuildLazyLoadProperty(p));
            }
        } @*end of foreach*@
   }
}

@helper BuildProperty(Evm.Schema.Property p)
    {

        //默认值检查
        string defaultValue = "";
        if (!string.IsNullOrEmpty(p.Default))
        {
            if (p.DataType.ToLower() == "datetime" && (p.Default.ToLower().IndexOf("getdate") >= 0 || p.Default.ToLower().IndexOf("now") >= 0))
            {
                defaultValue = " = DateTime.Now";
            }
            else if (p.DataType.ToLower() == "string")
            {
                if (p.Default == "''")
                { defaultValue = " = \"\""; }
                else
                { defaultValue = " = \"" + p.Default + "\""; }
            }
            else
            {
                defaultValue = " = " + p.Default;
            }
        }

        var clrType = p.DataType.ToLower();

        var nullTail = "";// (p.ClrType != null && p.ClrType.IsPrimitive && !p.Required) ? "?" : "";
        
        var dataType = p.DataType + nullTail;
        @<text>
	
        private @dataType m_@(p.Name) @defaultValue;
	    public event PropertyChangedEventHandler @(p.Name)Changed;
        
	    ///<summary>
	    ///设置或获取@(p.Text)
	    ///</summary>
	    [DisplayName("@p.Text")]
        @if (p.Required)
        { @<text>[Required(ErrorMessage = "@(p.Text)不能为空！")]</text> }
        
        @*数据长度检查*@
        @if (clrType == "string" && p.MinLength != 0 || p.MaxLength != 0)
        { @<text>[StringLenthCheckAttribute(@(p.MinLength),@(p.MaxLength),"@(p.Text)超出数据长度！")]</text> }
        
        @*range检查*@
        @if (new string[] { "int", "uint", "long", "ulong", "short", "ushort", "byte", "sbyte", "decimal", "float", "double" }.Contains(clrType)
            && !string.IsNullOrEmpty(p.MaxValue) && !string.IsNullOrEmpty(p.MinValue))
        { @<text> [Range(@(p.MinValue), @(p.MaxValue), ErrorMessage = "@(p.Text)的值必须在@(p.MinValue) - @(p.MaxValue) 之间.")]   </text> }
        
        @if (clrType == "datetime"
            && !string.IsNullOrEmpty(p.MaxValue) && !string.IsNullOrEmpty(p.MinValue))
        { @<text> [Range(typeof(DateTime),"@(p.MinValue)", "@(p.MaxValue)", ErrorMessage = "@(p.Text)的值必须在@(p.MinValue) - @(p.MaxValue) 之间.")]   </text> }
        
        @*正则检查*@
        @if (clrType == "string" && !string.IsNullOrEmpty(p.RegExp))
        { @<text>[RegularExpression(@@"@(p.RegExp)",  ErrorMessage = "@(p.Error)")]   </text> }
	    public @dataType @p.Name
	    {
		    get
		    {
			    return m_@(p.Name);
		    }
		    set
		    {
			    this.m_@(p.Name) = value;
			    this.On@(p.Name)Changed();
		    }
	    }

	    private void On@(p.Name)Changed()
	    {
		    if (@(p.Name)Changed != null)
			    @(p.Name)Changed(this, new PropertyChangedEventArgs("@(p.Name)"));
	    }

    </text>
}

@helper  BuildLazyLoadProperty(Evm.Schema.Property item)
    {
        var refDef = Evm.Utils.RefUtils.GetRefParts(item.Select);
        var referedType = refDef.First().Key;
        var referedMethod = refDef.First().Value.First();
        var parameters = item.Column;// item.Entity.Properties.Where(p => p.Column == item.Column).First().Name;
            @<text>
            
	private @item.DataType m_@(item.Name);
        
	///<summary>
	///设置或获取@(item.Text)
	///</summary>
	[JsonIgnore]
    public @item.DataType @item.Name
	{
		get
		{
			if ( m_@(item.Name) == null )
			{
            var a = AppDomain.CurrentDomain.GetAssemblies().Where(ass=>ass.ManifestModule.ToString() =="@(Model.App.Name).ServiceImpl.dll" ).First();
          
            Type t= a.GetType("@(Model.App.Namespace).Dao.Impl.@(referedType)Dao");
                
            if (t!=null)
            {
                dynamic srv =  Activator.CreateInstance(t);
				m_@(item.Name) =srv.@(referedMethod)(@(parameters));
            }
			
            
            }
			return m_@(item.Name);
		}
        set{m_@(item.Name) = value ;}
	}

     </text>            
}
    