﻿@*************************************************************************

    Service 模板
    Version:1.0		
 
*************************************************************************@

@* model Evm.Schema.Service *@

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using Evm.Rtl;
using @(Model.App.Namespace).Model;
using @(Model.App.Namespace).Dao;
using @(Model.App.Namespace).Dao.Impl;
using @(Model.App.Namespace).Service;
using @(Model.App.Namespace).Service.Impl;
using IBatisNet.DataMapper;

@foreach (var item in Model.Imports)
{
@:using @(item);
}
@foreach (var item in Model.App.Imports)
{
@:using @(item);
}
@{
    var isPublic = Model.ServiceContract == Evm.Schema.ServiceContract.Public;
 }
namespace @(Model.App.Namespace).Service.Impl
{
    ///<summary>
    ///
    ///</summary>
	@( isPublic?"public":"") 
    class @(Model.Name) :ServiceBase 
        @(isPublic?", I"+Model.Name:"")
	{
      protected override SqlMapper MyMapper
		{
			get
			{
				return Evm.Rtl.MyMapper.Instance("@(Model.App.Name)");
			}
		}
        @if(Model.ServiceContract == Evm.Schema.ServiceContract.PrivateObject){
            <text>
            private static @(Model.Name) instance;
            private @(Model.Name)(){}
            public  static @(Model.Name)  Instance
            {
                get
                {
                    if(instance == null)
                    {
                        lock(instance)
                        {
                           if (instance == null)
                           {
                            instance = new @(Model.Name)();
                           }
                      }   
                    }
                   
                    return instance;
                }
            }
            </text>
        }
       @foreach (var item in Model.ReferencedServices)
       {
           if (item.Name != Model.Name)
           {
              @: private I@(item.Name) m_@(item.Name) = new @(item.Name)();
    @: public I@(item.Name) @(item.Name) {   get{return m_@(item.Name); } set{} }
           }
       }
        @foreach (var item in Model.ReferencedEntites)
        {
            @:private I@(item.Name)Dao m_@(item.Name)Dao = new @(item.Name)Dao();
    @: public I@(item.Name)Dao @(item.Name)Dao { get{return m_@(item.Name)Dao;} set{} }
            
        }

        @if (Model.GenerateMethodsAccordingToDerivedEntity && Model.DerivedEntity != null)
        {
            @<text>
     @BuildDefaultMethods()
            </text>
        }
       @foreach (var stm in Model.Methods)
       {
           if (stm.IsAutoGenerated)
           { continue; }
        @<text>
        ///<summary>
        /// @(stm.Summary)
        ///</summary>
        @(stm.Contract==Evm.Schema.Contract.Private?"private":"public") @(Evm.Compiler.Server.Core.CompilerHelper.GetSign(stm)) 
        {
            @Evm.Compiler.Server.Core.CompilerHelper.GetSvcImpl(stm)
        }
        </text>
            
       }

   }
}

@helper BuildDefaultMethods()
    {

       @<text>

        ///<summary>
        /// 添加@(Model.DerivedEntity.Text)
        ///</summary>
        public void Add(@Model.DerivedEntityName obj)
        {
            if ( !obj.IsValid )
            {
                throw new InvalidModelException();
            }
            @(Model.DerivedEntityName)Dao.Add(obj);
        }

        @if(Model.App.Options.GenerateIntegerId)
        {
            <text>
        ///<summary>
        /// 根据ID获取@(Model.DerivedEntity.Text)
        ///</summary>
		public @Model.DerivedEntityName GetByID(@(Model.App.Options.IntegerIdDataType) @(Model.DerivedEntityName)ID)
        {
            return @(Model.DerivedEntityName)Dao.GetByID(@(Model.DerivedEntityName)ID);
        }

        ///<summary>
        /// 通过ID删除@(Model.DerivedEntity.Text)
        ///</summary>
		public int DeleteByID(@(Model.App.Options.IntegerIdDataType) @(Model.DerivedEntityName)ID)
        {
            return @(Model.DerivedEntityName)Dao.DeleteByID(@(Model.DerivedEntityName)ID);
        }
        </text>
        }

        ///<summary>
        /// 根据Guid获取@(Model.DerivedEntity.Text)
        ///</summary>
		public @Model.DerivedEntityName GetByUID(Guid uid)
        {
            return @(Model.DerivedEntityName)Dao.GetByUID(uid);
        }

        ///<summary>
        /// 保存@(Model.DerivedEntity.Text)
        ///</summary>
		public int Save(@Model.DerivedEntityName obj)
        {
            if ( !obj.IsValid )
            {
                throw new InvalidModelException();
            }
            return @(Model.DerivedEntityName)Dao.Save(obj);
        }

        ///<summary>
        /// 获取@(Model.DerivedEntity.Text)列表
        ///</summary>
		public IList<@Model.DerivedEntityName> GetList(string sortColumn = "" , string sortDirection = "")
        {
            return @(Model.DerivedEntityName)Dao.GetList(sortColumn,sortDirection);
        }

        ///<summary>
        /// 获取分页的@(Model.DerivedEntity.Text)列表
        ///</summary>
		public PagedList<@Model.DerivedEntityName> GetPagedList(int pageIndex,int pageSize,string sortColumn = "" , string sortDirection = "")
        {
            return @(Model.DerivedEntityName)Dao.GetPagedList(pageIndex,pageSize,sortColumn,sortDirection);
        }

        ///<summary>
        /// 通过ID删除@(Model.DerivedEntity.Text)
        ///</summary>
		public int DeleteByUID(Guid @(Model.DerivedEntityName)UID)
        {
            return @(Model.DerivedEntityName)Dao.DeleteByUID(@(Model.DerivedEntityName)UID);
        }

       </text>
}
