﻿<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <settings>
        <setting useStatementNamespaces="true" />
        <setting useReflectionOptimizer="true"/>
        <setting cacheModelsEnabled="true" />
    </settings>

    <providers embedded="providers.config"/>

    <!-- Database connection information -->
    <database>
        <provider name="@Model.DbProvider"/>
        <dataSource name="LocalSqlServer"  connectionString="@(Model.ConnectionString)"/>
    </database>

    <sqlMaps>
        <sqlMap embedded="Types.xml" />
        @foreach (var item in Model.Entities)
        {
            if (item.IsEnum) { continue; }
            <sqlMap embedded="@(item.Name).xml" />
        }
    </sqlMaps>

</sqlMapConfig>