﻿<?xml version="1.0" encoding="utf-8" ?>
@*************************************************************************

    iBatis.net SqlMap模板
    Version:1.0		
 
*************************************************************************@

@* model Evm.Schema.Entity  *@

<sqlMap namespace="@(Model.Name)" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  @if (Model.CacheModels != null && Model.CacheModels.Count > 0)
  {

      var xs = new System.Xml.Serialization.XmlSerializer(typeof(Evm.Schema.CacheModel));
      var sbCacheModels = new System.Text.StringBuilder();
      var xmlnsEmpty = new System.Xml.Serialization.XmlSerializerNamespaces();
      xmlnsEmpty.Add("", "");
      <cacheModels>
	    @foreach (var cache in Model.CacheModels)
     {
         //反序列化 cache定义
         using (var stream = new System.IO.MemoryStream())
         {
             xs.Serialize(stream, cache, xmlnsEmpty);
             byte[] buf = new byte[stream.Length];
             stream.Position = 0;
             stream.Read(buf, 0, buf.Length);
             string t = System.Text.Encoding.UTF8.GetString(buf, 0, buf.Length).Substring(23);//去掉<?xml version="1.0"?>
             Write(t.Replace("CacheModel", "cacheModel"));
         }
     }
      </cacheModels>
   
  }
  <statements>
    @if (Model.App.Options.GenerateDefaultMethos)
    {
        Write(GetDefaultStatements());
    }
     @foreach (var stm in Model.Statements)
     {
         if (stm.IsAutoGenerated) { continue; }
         //Update操作自动增加EvmLastModifyTime更新语句
         string parameters = stm.Parameters;
         string statement = stm.InnerXml;
         //update 并且没有from子句
         if (stm.TagName == "update" && statement.ToLower().IndexOf("from") < 0) 
         {
             parameters += ",DateTime evmLastModifyTime";
             int iloc = statement.ToLower().IndexOf("where");
             statement = string.Format("{0},EvmLastModifyTime=#EvmLastModifyTime# {1}", statement.Substring(0, iloc).Trim(), statement.Substring(iloc));
         }
         //排序支持
         var sortableStatement = statement;
         System.Text.RegularExpressions.RegexOptions options = System.Text.RegularExpressions.RegexOptions.IgnoreCase | System.Text.RegularExpressions.RegexOptions.Compiled;
         var reg = new System.Text.RegularExpressions.Regex(@"\border\b\s+by\b",options);
         if (stm.SupportSort)
         {

             var prepand = "order by";
             
             if (reg.IsMatch(statement))
             {
                 prepand = ",";
             }
             sortableStatement = statement + string.Format(" <dynamic prepend='ORDER BY'><isPropertyAvailable property='sortColumn'>$sortColumn$ $sortDirection$</isPropertyAvailable></dynamic>", prepand);
         }
         var stmParameters = "";
         if (!string.IsNullOrEmpty(parameters))
         {
             stmParameters = string.Format("parameterClass=\"{0}\"",
                 (parameters.IndexOf(",") >= 0 ? "hashtable" : parameters.Substring(0, parameters.IndexOf(" ")).Trim())
                 );
         }
         var stmCache = "";// string.IsNullOrEmpty(stm.CacheModel) ? "" : string.Format("cacheModel=\"{0}\"", stm.CacheModel);
         var stmResult = string.IsNullOrEmpty(stm.ResultClass) ? "" : string.Format("resultClass=\"{0}\"", stm.ResultClass);
         <text>
             <@(stm.TagName) id="@(stm.ID)" @(stmParameters) @(stmResult)  @(stmCache) >
                               @sortableStatement
             </@(stm.TagName)>
         </text>
         //如果返回类型为ilist，则增加Count方法
         if (stm.IsReturnList)
         {
             var getCountStatement = "";
             if (reg.IsMatch(statement))
             {
                
                 var parts = reg.Split(statement);
                 var sql = parts[0];
                
                 if (parts[1].IndexOf("]]>") >= 0)
                 {
                     sql +="]]>";
                 }
                 //else { 
                 //    sql += parts[1].Substring(0,parts[1].IndexOf("<"));
                 //}
                 getCountStatement = "SELECT COUNT(*) from (" + sql + ") a"; 
             }
             else { 
                getCountStatement = "SELECT COUNT(*) from (" + statement + ") a";
             }
         
         <text>
             <@(stm.TagName) id="@(stm.ID)Count" @(stmParameters) ResultClass="int"  @(stmCache) >
                               @getCountStatement
             </@(stm.TagName)>
         </text>
         }
     }
  </statements>
</sqlMap>

@helper GetDefaultStatements()
    {
        //生成默认方法
        <text>
 	<insert id="Add" paramenterClass="@Model.Name">
		INSERT INTO @Model.DbName ( @GetFileds(p => p.Column) ) VALUES ( @GetFileds(p => "#" + p.Name + (p.DataType == "byte[]" ? ":" + p.DbType : "") + "#") )
        @GetSelectKey()
	</insert>
    @if (Model.App.Options.GenerateIntegerId)
    {
        <text>
        <update id="Save" parameterClass="@Model.Name">
		    UPDATE @Model.DbName SET @GetFileds(p => string.Format("{0} = #{1}#", p.Column, p.Name + (p.DataType == "byte[]" ? ":" + p.DbType : ""))) WHERE @(Model.Name)ID = #@(Model.Name)ID#
	    </update>
        </text> 
    }
    else 
    {
        <text>
        <update id="Save" parameterClass="@Model.Name">
		    UPDATE @Model.DbName SET @GetFileds(p => string.Format("{0} = #{1}#", p.Column, p.Name + (p.DataType == "byte[]" ? ":" + p.DbType : ""))) WHERE @(Model.Name)UID = #@(Model.Name)UID#
	    </update>
        </text>
    }
     
    <delete id="DeleteByID" paramenterClass="int">
		DELETE FROM @Model.DbName WHERE @(Model.Name)ID=#value#
	</delete>
	<delete id="DeleteByUID" paramenterClass="Guid">
		DELETE FROM @Model.DbName WHERE @(Model.Name)UID=#value#
	</delete>
    <select id="GetByID" parameterClass="int" resultClass="@Model.Name">
		SELECT * FROM @Model.DbName WHERE @(Model.Name)ID=#value#
	</select>   
    <select id="GetByUID" parameterClass="Guid" resultClass="@Model.Name">
		SELECT * FROM @Model.DbName WHERE @(Model.Name)UID=#value#
	</select>  
     <select id="GetList" resultClass="@Model.Name" parameterClass="hashtable">
      SELECT * FROM @Model.DbName
      <dynamic prepend="WHERE">
        <isParameterPresent>
        @{
            foreach (var p in Model.Properties)
            {
                if (!p.NoMap && string.IsNullOrEmpty(p.Select))
                {
                <isPropertyAvailable prepend="AND" property="@p.Name">@p.Column = #@p.Name#</isPropertyAvailable>
                }
            }
        }
        </isParameterPresent>
    
      </dynamic>
      <dynamic prepend="ORDER BY">
        <isPropertyAvailable  property="sortColumn">
          $sortColumn$ $sortDirection$
        </isPropertyAvailable>
      </dynamic>
    </select>
    <select id="GetListCount" resultClass="int" parameterClass="hashtable">
        SELECT COUNT(*) FROM @Model.DbName
         <dynamic prepend="WHERE">
        <isParameterPresent>
        @{
            foreach (var p in Model.Properties)
            {
                if (!p.NoMap && string.IsNullOrEmpty(p.Select))
                {
                <isPropertyAvailable prepend="AND" property="@p.Name">@p.Column = #@p.Name#</isPropertyAvailable>
                }
            }
        }
        </isParameterPresent>
    
      </dynamic>
    </select>
    </text>
}

@functions { 
    /// <summary>
    /// 获取字段列表
    /// </summary>
    /// <param name="formatter">格式化。参数:Column({0}),Name({1})</param>
    /// <returns></returns>
    private string GetFileds(Func<Evm.Schema.Property, string> func)
    {
        var builder = new System.Text.StringBuilder();

        Model.Properties.ForEach(p =>
        {
            if (p.Name != Model.Name + "ID" && !p.NoMap && string.IsNullOrEmpty(p.Select))
            {
                builder.Append(builder.Length > 0 ? "," : "");
                builder.Append(func(p));
            }
        });
        return builder.ToString();
    }
}
@{
     @helper GetSelectKey()
         {
             switch (Model.App.Options.DbProvider)
             {
                 case "sqlServer2.0":
                <text>
        		<selectKey property="@(Model.Name)ID" type="post" resultClass="int" >
		            select @@@@identity
	            </selectKey>
                </text>
                           break;
                 case "sqlServer2005":
                <text>
        		<selectKey property="@(Model.Name)ID" type="post" resultClass="int" >
		            select @@@@identity
	            </selectKey>
                </text>
                           break;
                 case "OleDb2.0":
                <text>
                <selectKey property="@(Model.Name)ID" type="post" resultClass="int" >
		            select @@@@identity
	            </selectKey>
                </text>
                                 break;
                 case "SQLite3":
                <text>
                <selectKey property="@(Model.Name)ID" type="post" resultClass="int" >
		            select last_insert_id()
	            </selectKey>
                </text>
                                 break;
             }
      }
 }