﻿<?xml version="1.0" encoding="utf-8" ?>
@*************************************************************************

    iBatis.net Types SqlMap模板
    Version:1.0		
 
*************************************************************************@
<sqlMap namespace="@(Model.Name)Types" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
  @foreach (var item in Model.Entities)
  {
    <text>
    <typeAlias alias="@item.Name" type="@(Model.Namespace).Model.@(item.Name),@(Model.Name).Model" />
    </text>  
  }
    
  </alias>
  </sqlMap>