<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<PagedList<Sample.NorthWind.Entity.Categories>>" %>
<%: Html.Grid(Model.Data)
       .Empty("没有数据")
       .Columns(
			column =>
            {
				column.For(c => Html.ActionLink(c.类别名称.ToString(), "Edit", new { id=c.CategoriesID })).Named("类别名称");
column.For(c => c.Description).Named("描述").SortColumnName("Description");;
column.For(c => c.Picture).Named("图片").SortColumnName("Picture");;

			}).Sort((GridSortOptions)ViewData["sort"])
%>
